/* nav */
/* nav */

.header>nav{
    display: flex;
}
.header>nav>ul{
    flex: 1;
}
.header>nav>ul{
    display: flex;
    justify-content: space-around;
}
.header li{
    list-style: none;
}

/* nav */
/* nav */


/* svg */
/* svg */

.cube{
    fill:red;
    stroke: greenyellow;
}
.line{
    stroke: greenyellow;
    stroke-width: 20;
}

/* svg */
/* svg */


#box{
    height: 400px;
    width: 100%;
    border: 2px solid black;
    /* display: flex; */
}